<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login page</title>
</head>
<body>
    <h1>Form login</h1>
    <form id="form-login">
        <label for="email">Username:</label><br>
        <input type="email" id="email"><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password"><br><br>

        <button type="submit">Login</button>
    </form>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const formLoginEl = document.getElementById("form-login");
        const emailEl = document.getElementById("email")
        const passwordEl = document.getElementById("password")

        formLoginEl.addEventListener("submit", async (e) => {
            e.preventDefault();

            const data = {
                email: emailEl.value,
                password: passwordEl.value
            }

            try {
                let res = await axios.post("/api/auth/login", data)
                alert("login thành công")
                window.location.href="/"
            } catch (error) {
                console.log(error.response.data.message)
            }
        })
    </script>
</body>
</html>